<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./parts/head') %>
      
     <style>
        /* Define the background color for focused buttons */
        .btn:focus {
          background-color: #a5c422; /* Change this to the desired color */
          outline: none;
          color : #fff; /* Remove the default focus outline */
        }
      </style>
    <title>Register</title>
</head>
<body>
    <% if(role){  %>
     <%- include('./parts/navbar_admin') %>
     <% }else{%>
      <%- include('./parts/navbar_users') %>
        <% }  %>
   <!-- middle -->
   <section id="appointment" data-stellar-background-ratio="3">




    <div class="container mt-5">
        <div class="row text-center">
          <div class="col-md-6 mb-3">
            <select class="form-control bg-black text-white">
              <option>General Health</option>
              <option>Cardiology</option>
              <option>Dental</option>
              <option>Medical Research</option>
            </select>
          </div>
          <div class="col-md-6 h-100">
            <div class="btn-group " role="group" aria-label="Basic example">
              <button type="button" class="btn btn-green h-100">Sunday</button>
              <button type="button" class="btn btn-green">Monday</button>
              <button type="button" class="btn btn-green">Tuesday</button>
              <button type="button" class="btn btn-green">Wednesday</button>
              <button type="button" class="btn btn-green">Thursday</button>
            </div>
          </div>
        </div>
      
        <table class="table table-hover table-nowrap">
          <thead class="table-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">email</th>
              <th scope="col">Date</th>
              <th scope="col">Option</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<10; i++){ %>
              <tr>
                <td> ucef boudia </td>
                <td>u.boudia@gmai.com</td>
                <td> Feb 15, 2021</td>
                <td class="text-end"><button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover"><i class="fa fa-trash-o" aria-hidden="false"></i></button></td>
              </tr>
              <% } %>
        </tbody>
        </table>
  
      </div>

</section>
<!-- middle -->
   <%- include('./parts/footer') %>

</body>
</html>