<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./parts/head') %>
    <title>Register</title>
</head>
<body>
    
     <%- include('./parts/navbar') %>

    <section id="appointment" data-stellar-background-ratio="3">
        <div class="container">
             <div class="row">

                  <div class="col-md-6 col-sm-6">
                       <img src="/images/loginphoto.jpg" class="img-responsive" alt="">
                  </div>

                  <div class="col-md-6 col-sm-6">
                       <form id="appointment-form" role="form" method="post" action="/login">

                            <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                                 <h2> Login your account</h2>
                            </div>
                            <div class="wow fadeInUp" data-wow-delay="0.8s">

                              <% if (error) { %>
                                   <div class="alert alert-warning" role="alert">
                                       Your email or password is wrong!, please try again.
                                   </div>
                               <% } %>
                                 <div class="col-md-12 col-sm-12">
                                      <label for="email">Email</label>
                                      <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                                 </div>

                                 <div class="col-md-12 col-sm-12">
                                      <label for="telephone">Password</label>
                                      <input type="password" class="form-control" id="phone" name="password" placeholder="Password">   
                                      <button type="submit" class="form-control" id="cf-submit">Login</button>
                                 </div>
                            </div>
                      </form>
                  </div>

             </div>
        </div>
   </section>

   <!-- Include footer -->
   <%- include('./parts/footer') %>
   <!-- Include footer -->

</body>                            
</html>