<!DOCTYPE html>
<html lang="en">
<head>

     <title>Health Template - News Page</title>
<!--

Template 2098 Health

http://www.tooplate.com/view/2098-health

-->
<%- include('./parts/head') %>

    </head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <header>
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-3">
                         <p>Welcome to a Professional Health Care</p>
                    </div>
                         
                    <div class="col-md-8 col-sm-9 text-align-right">
                         <span class="phone-icon"><i class="fa fa-phone"></i> 010-060-0160</span>
                         <span class="date-icon"><i class="fa fa-calendar-plus-o"></i> 6:00 AM - 10:00 PM (Mon-Fri)</span>
                         <span class="email-icon"><i class="fa fa-envelope-o"></i> <a href="#">info@company.com</a></span>
                    </div>

               </div>
          </div>
     </header>


     <!-- MENU -->
<%- include('./parts/navbar') %>


     <!-- NEWS DETAIL -->
     <section id="news-detail" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-8 col-sm-7">
                         <!-- NEWS THUMB -->
                         <div class="news-detail-thumb">
                              <div class="news-image">
                                   <img src="/images/news-image3.jpg" class="img-responsive" alt="">
                              </div>
                                
                              <blockquote><h3>Technology in our Medical</h3></blockquote>
                              <p>
                                   The adoption of these advanced technologies in medical clinics has greatly enhanced the quality of care provided to patients.
                                    By improving diagnostic accuracy, facilitating remote consultations, streamlining operations, and enabling personalized treatment plans, technology plays a crucial role in modern healthcare.
                                    As technology continues to evolve, medical clinics will increasingly leverage these innovations to deliver more efficient, effective, and patient-centered care.
                              </p>

                              <blockquote><h3>  Healing Process </h3></blockquote>
                              <p>
                                   The healing process involves several key stages: hemostasis (blood clotting), inflammation (infection control and debris clearance), proliferation (new tissue and blood vessel formation), and maturation (tissue strengthening and remodeling).
                                    Proper care, nutrition, and avoiding stress are essential for supporting the body's natural repair mechanisms.
                                     Understanding these stages helps in managing and facilitating effective recovery.

                              </p>

                              <div class="news-social-share">
                                   <h4>Share this article</h4>
                                        <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i>Facebook</a>
                                        <a href="#" class="btn btn-success"><i class="fa fa-twitter"></i>Twitter</a>
                                        <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i>Google+</a>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-5">
                         <div class="news-sidebar">
                             
                              <div class="recent-post">
                                   <h4>Recent Posts</h4>

                                        <div class="media">
                                             <div class="media-object pull-left">
                                                  <a href="#"><img src="/images/news-image.jpg" class="img-responsive" alt=""></a>
                                             </div>
                                             <div class="media-body">
                                                  <h4 class="media-heading"><a href="#">Introducing a new healing process</a></h4>
                                             </div>
                                        </div>

                                        <div class="media">
                                             <div class="media-object pull-left">
                                                  <a href="#"><img src="/images/news-image.jpg" class="img-responsive" alt=""></a>
                                             </div>
                                             <div class="media-body">
                                                  <h4 class="media-heading"><a href="#">About Amazing Technology</a></h4>
                                             </div>
                                        </div>
                              </div>

                              <div class="news-categories">
                                   <h4>Categories</h4>
                                        <li><a href="#"><i class="fa fa-angle-right"></i> Dental</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i> Cardiology</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i> Health</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i> Consultant</a></li>
                              </div>

                             
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>
         


     <!-- FOOTER -->
     <%- include('./parts/footer') %>

</body>
</html>