<section class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

         <div class="navbar-header">
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
              </button>

              <!-- lOGO TEXT HERE -->
              <a href="/home" class="navbar-brand"><i class="fa fa-h-square"></i>ealth Care</a>

         </div>

         <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/home" class="smoothScroll">List of my appointment</a></li>
                <li><a href="/" class="smoothScroll">Edit appointment</a></li>
                <li><a href="/#team" class="smoothScroll">Edit</a></li>
                <li><a href="/appointment" class="smoothScroll">Make an appointment</a></li>
                <li class="appointment-btn"><a href="/logout">Logout</a></li>
              </ul>
         </div>
    </div>
</section>